 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

 *,html{
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
  font-weight:600 !important;
 }

 body a{
  text-decoration: none !important;
  outline: none;
 }

 body ul, body li{
    list-style: none;
 }

 body {
    background:#fdfdfd;
 }

 body .wrapper{
  width:100%;
  max-width:1500px;
  margin:0 auto;
  height:100%;
 }

body button{
  transition:all 1s ease-in-out; 
}

 body button:hover{
   background: #FF6D00 !important;
   color: #F5F7F8 !important;
  transition:all 1s ease-in-out;
 }

 body .space-box{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 body .home-box {
  position: relative;
 } 

 body .home-box .sponsored{
  position:absolute;
  top:20px;
  z-index:100;
  right:20px;
  padding:6px 15px;
  background:#FF6D00;
  color:#ffffff;
  font-size:18px;
  border-radius:6px;
}

body .testimonials-carousel .sponsored{
  display: none !important;
}

body .space{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

body .link-box{
   padding:6px 15px;
   background:#FF6D00;
   border-radius:30px;
   color:#ffffff;
   box-shadow:0px 3px 10px rgba(0,0,0,0.1);
}


body .loader{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:20px;
  height:100vh !important;
  position: fixed;
  top:0px;
  left:0px;
  width:100%;
  z-index:1000;
  opacity:1;
  transition:all 1s ease-in-out;
  background: #000000;
}


body .loading-area{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:20px;
  min-height:300px;
  height:100%;
  width:100%;
  color: #FF6D00;
}


 /*Navbar */

 body .fd-navbar{
    position: absolute;
    padding:0px; 
    width:100%;
    z-index:1000;
    top:0px;
    left:0px;
 }


 body .logo-area .logo strong{
  font-family: 'Dancing Script', cursive !important;
  font-size:35px !important;
  color: #ffffff;
 }

 body .logo-area .logo  svg{
    width:60px;
    height:60px;
    border-bottom:6px solid #FF6D00;
    border-radius:10px;
 }

 body .fd-navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
  padding:20px;
  color:#ffff;
 }

 body .fd-navbar .fd-menu{
    display:flex;
    align-items: center;
 }

 body .fd-navbar .fd-menu a{
   color:#fff;
 }

 body .fd-navbar .fd-menu li{
  margin:0px 15px;
 }

 body .fd-navbar .fd-menu button{
   padding:10px 20px;
   border-radius:30px; 
   margin-left:15px;
   min-width:120px;
   margin-bottom:0px !important;
   margin-top:0px !important;
 }

 body .fd-navbar .fd-menu li{
     position: relative;
 }

 body .fd-navbar .fd-menu li.active::after{
      content:"";
      position: absolute;
      top:30px;
      left:0px;
      transition:all 1s ease-in-out;
      width:90%;
      height:6px;
      border-radius:10px;
      background-color: #fdfdfd;
 }

 body .fd-navbar .fd-menu li.active::before{
      content:"";
      position: absolute;
      top:30px;
      right:-10px;
      transition:all 1.5s ease-in-out;
      width:10px;
      height:6px;
      border-radius:10px;
      background-color: #FF6D00;
 }


 body .fd-navbar.fixed{
  background:#fff !important; 
  position: fixed !important;
  transition:all 1s ease-in-out;
  box-shadow:0px 3px 10px rgba(0,0,0,0.1);
  z-index:1000;
 }

 body .fd-navbar.fixed li,
 body .fd-navbar.fixed span,
 body .fd-navbar.fixed a,
 body .fd-navbar.fixed button,
 body .fd-navbar.fixed .logo strong,
 body .fd-navbar.fixed div{
  color: #131313 !important;
 }

 body .fd-navbar.fixed li.active::after{
   background: #131313 !important;
 }

 body .fd-navbar.fixed  .text-light{
   border-color: #131313;
 }

 body .fd-navbar.fixed  .bg-white{
    border-color: #FF6D00; 
    border-width:2px;
 }
 

 body .fd-navbar.fixed  button:hover{
   color:#F5F7F8 !important;
 }


 body .fd-navbar .toggle-menu,
 body .fd-navbar .responsive-menu{
    display: none;
 }

 


 /** Header **/

 body .fd-header{
  width:100%;
  height:100vh;
  background-color: #000;
  position: relative;
  overflow: hidden; 
 }

 body .fd-header  .image-area{
    height:100%;
 }

 body .fd-header img{
  width:100%;
  height:100%;
  max-height:100vh;
  object-fit: cover;
 }

 body .fd-header .header-content {
    position: absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5); 
    padding:0px 20px; 
 }

 body .fd-header .ct{
    width:100%;
    height:100%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom:50px;
 }

 body .fd-header .header-content .content{ 
    display: flex;
    justify-content: space-between;
    color:#fdfdfd; 
 }

 body .fd-header .header-content .text{
    max-width:900px;
 }
 
 body .fd-header .header-content .text h1{
   font-size:95px; 
 }

 body .fd-header .header-content .text p{
  max-width:700px;
  margin-top:40px;
  font-weight:400 !important;
 }

body .fd-header .header-content .result-text .block{
    margin-bottom:40px;
}


body .fd-header .txt{
  font-size:90px;
  color:#FF6D00;
}

body .fd-header  .search-form{
  padding:10px;
  width:100%; 
  border-radius:10px;
  margin-top:30px;
  border:4px dashed  #DDE6ED;
}

body .fd-header  .search-form form{
    width:100%;
    background: #ffff;
    display: flex;
    align-items: center;
    border-radius:10px;
    box-shadow:0px 3px 10px rgba(0,0,0,0.2);
    padding:20px;
}

body .fd-header  .search-form form input,
body .fd-header  .search-form form select{
    height:60px;
    border: none;
    background-color:#F5F7F8;
}

body .fd-header  .search-form .block{
   margin-right:20px;
   width:30%;
}

body .fd-header  .search-form form button{
   background-color:#000;
   background-image: linear-gradient(to right bottom, #000000, #131313, #1f1f1f, #2c2c2c, #393939);
   height:60px;
   padding:10px 20px;
   margin-top:35px;
   min-width:150px;
}

body .fd-header  .block span{
    font-size:15px !important;
}

/*Most visited **/

body .fd-visited{
  padding:20px 20px;
   position: relative;
   padding-top:50px;
}

body  .watermark{
    position: absolute;
     z-index:-1;
    opacity:0.4;
    top:0px;
}

body  .watermark h1{
  font-size:250px;
  color:#DDE6ED;
}

body .watermark.left{
  left:-170px;
}

body  .watermark.right{
  right:-170px;
}

body .text-block-area h2{
   font-size:45px;
   font-weight:700 !important;
   line-height:60px;
}


body .text-block-area p{
  max-width:640px;
  margin-top:10px;
  font-weight:400  !important;
}

body .text-block-area.center{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


body .fd-visited .content{
   display: flex;
   width:100%;
   justify-content: space-between;
   margin:20px 0px;  
}

body .fd-visited .content  .bx{
    width:100%; 
}

body  .home-box .box.lg{
    width:100%;
    height:540px;
    border-radius:10px;
    overflow: hidden; 
}


body  .home-box .box.cm{
  width:100%;
  height:250px;
  border-radius:10px;
  overflow: hidden; 
}

body  .home-box .box.md{
  width:500px;
  height:255px;
  border-radius:10px;
  overflow: hidden; 
  margin-bottom:30px;  
}

body .fd-visited .content .pd{
  padding-left:30px;
}

 

body .home-box .box{
   position: relative;
}


body .home-box .box .over{
  position: absolute;
  top:0px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height:100%;
  width:100%;
  padding:20px;
  background-color: rgba(0,0,0,0.2);
}

body  .home-box .box .over .d-space{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    z-index:100;
    position: relative;
    color:#DDE6ED; 
}

body  .home-box .box .over .d-space .vw{
   font-size:30px;
}

body  .home-box .box .over .d-space .d-flex{
  align-items: center;
}

body  .home-box .box .over .d-space p{
  margin:0px;
}

body  .home-box .box .over .d-space .vw svg{
  width:30px;
  height:30px;
  fill:#fff;
}

body  .home-box .box .over::after{
   content:"";
   width:100%;
   height:90px;
   background:linear-gradient(to bottom, rgba(0,0,0,0.1) , rgba(0,0,0,0.9));
   left:0px;
   position: absolute;
   bottom:0px;
}

body  .home-box .box .over p,
body  .home-box .box .over div,
body  .home-box .box .over span{
  font-size:15px !important;
}

body  .home-box .box .over h3{
  font-size:30px;
  margin-bottom:20px;
  color: #ffffff;
}

body  .home-box .box.lg .over h3{
  font-size:50px;
  max-width:500px;
}

body  .home-box .box.cm h3{
  font-size:18px; 
  margin-bottom:10px;
}

body  .home-box .box.cm p{
  color: #ffffff !important;
  z-index:100;
  position: relative;
}

body  .home-box .box.cm  .over{ 
  align-items: flex-start;
}

body  .home-box .box.cm .rv svg,
body  .home-box .box.cm .rv div,
body  .home-box .box.cm  p,
body  .home-box .box.cm .rv span{
  font-size:13px !important;
}

body  .home-box .box.cm .rv svg{
  margin-left:5px;
}

body  .home-box .box.lg .over span,
body  .home-box .box.lg .over .rv .st,
body  .home-box .box.lg .over  .rv{
  margin:0px 3px;
}

body  .home-box .box  img{
  width:100%;
  height:100%;
  transition:all 1s ease-in-out;
}

body  .home-box .box:hover img{
  transition:all 1s ease-in-out;
  transform: scale(1.1);
}

/** Explore products */

body .fd-explore{
    position: relative; 
    overflow-x: hidden;
}

body .fd-explore .space{
   display: flex;
   width:100%;
   justify-content: space-between; 
}

body .fd-explore .watermark{
  top:-60px;
}


body .fd-explore .text-block-area{
  margin-top:50px;
}

body .products-container{
    display: flex; 
    flex-wrap: wrap; 
}

body .products-container .pr-card {
    width:31.5%;
    height:400px;
    min-width:320px; 
   margin:20px 10px;
   overflow: hidden;
   margin-bottom:0px !important;
   padding:10px;
   background: #ffff;
   border-radius:30px;
}

body .products-container .pr-card img{
   width:100%;
   margin-bottom:10px;
   border-radius:30px;
   height:280px;
   object-fit: cover;
   transition:all 1s ease-in-out;
}

body .products-container 
.pr-card button{
  background-color:#000;
  background-image: linear-gradient(to right bottom, #000000, #131313, #1f1f1f, #2c2c2c, #393939);
  padding:10px 15px;
  width:100%;
  border-radius:30px;
  margin-top:10px;
  transition:all 1s ease-in-out;
  display: none;
}

body .products-container .pr-card:hover button{
   display: block !important;
   transition:all 1s ease-in-out;
}


body .products-container .pr-card:hover img{
    height:220px !important;
    transition:all 1s ease-in-out;  
}

 

body .products-container .pr-card h4{
  font-size:20px;
  color:#131313;
  font-weight:700 !important;
}

body .products-container .pr-card .rv{
  margin-top:10px;
  align-items: center; 
}

body .products-container .pr-card svg{
   font-size:18px;
   margin-right:5px;
   color: orange; 
}

body .products-container .pr-card span{
  color: #393939;
  font-size:18px;
  margin-left:5px;
}

body .center-box{ 
     width:100%;
     display: flex;
     align-items: center;
     justify-content: center;  
     margin-bottom:20px;
}

body .products-container .pr-card .price{ 
   padding:5px 8px; 
   display: flex;
   align-items: center;
   border-bottom: 2px dotted #FF6D00;
   color:#FF6D00;
   font-size:18px;
   font-weight:bold;
}

body .products-container .pr-card  .image{
   min-height: 200px;
   position: relative;
}


body .products-container .pr-card .location{
  position: absolute;
  top:20px;
  left:20px;
  background-color:rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  z-index:100;
  border-radius:10px;
  padding:5px 15px;
  box-shadow:0px 3px 10px rgba(0,0,0,0.2);
  color: #000 !important;
  font-size:15px !important;
}

body .products-container .pr-card .location svg{
  color: #000 !important;
}


body .btn-border{
  padding:10px 25px; 
  border-radius:30px;
  margin-top:10px;
  transition:all 1s ease-in-out;
}

body .btn-border.text-dark{
   border:2px solid #1f1f1f;
}

body .btn-border.text-light{
    border:2px solid #F5F7F8;
}

/**Testimonials */


body .fd-testimonials{
   padding:40px 20px;
   background-color:#000;
  background-image: linear-gradient(to right bottom, #000000, #131313, #1f1f1f, #2c2c2c, #393939);
  margin-bottom:30px;
}

body .fd-testimonials h2{
  color: #DDE6ED;
  margin-top:140px;
}


.fd-testimonials{
  position:relative;
  min-height:650px; 
}
 
.brush-top{
  position:absolute;
  top:0px; 
  left:0;
  width:100%;
}

.brush-bottom{
  position:absolute;
  bottom:0px; 
  left:0;
  width:100%;
}

body .fd-testimonials .testimonials-carousel{
  min-height:550px;
  width:100%; 
  margin:20px 0px;
  margin-bottom:130px;
}

body .fd-testimonials .card-test {
   background:#282828;
   padding:20px;
   color:#DDE6ED;
   height:500px;
   border-radius:10px;
   box-shadow:0px 3px 10px rgba(0,0,0,0.2);
   transition:all 1s ease-in;
}

body .fd-testimonials .card-test  .dets{
  text-align: left;
}


body .fd-testimonials .card-test .desc{
  height:130px; 
}


body .fd-testimonials .card-test .dets p{
   font-size:15px;
   letter-spacing:1px;
   font-weight:500 !important;
}

body .fd-testimonials .card-test .dets small{
  color: #FF6D00;
}

body .fd-testimonials .card-test .user-data{
  margin-bottom:15px;
}

body .fd-testimonials .card-test .user-data .img,
body .fd-testimonials .card-test .user-data img{
    width:60px;
    min-width:60px;
    border-radius:100%;
    height:60px;
    object-fit: cover;
    background: #FF6D00;
    border:3px solid #FF6D00;
    overflow: hidden;
}

body .fd-testimonials .card-test .dets .block{
  margin-left:10px;
  margin-top:10px;
}

body .fd-testimonials .card-test .dets .block h4{
  font-size:16px;
  margin:0px;
}

body .fd-testimonials .card-test .dets .block span{
  font-size:13px !important;
}

body .fd-testimonials .card-test .image{
    position: relative;
    min-height:200px;
}


 

/*Footer */


body .fd-footer .content{
   padding:40px 20px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

body .fd-footer .content  section{
  min-width:150px;
}

body .fd-footer .content ul{
  margin:20px 0px;
  padding:0px;
}

body .fd-footer .content h3{
  font-size:30px;
  font-weight:700 !important;
}

body .fd-footer .content ul li{
  margin-bottom:15px;
}

body .fd-footer .content li a{
  color: #393939;
  transition:all 1s ease-in-out;
}

body .fd-footer .content li a:hover{
   color: #FF6D00 !important;
}


body .fd-footer .content  .footer-box{
   background:#FF6D00;
   min-width:600px;
   padding:20px;
   border-radius:30px; 
   max-width:750px;
   position: relative;
   overflow: hidden; 
}

body .fd-footer .content  .footer-box .space{
   display: flex;
   justify-content: space-between;
   width:100%;
}

body .fd-footer .content  .footer-box input{
    background: transparent;
    border: none;
    color:#fff !important;
    border-bottom:2px solid #fff;
    border-radius:0px;
    max-width:300px;
    font-size:15px;
    padding-left:0px !important;
    padding-bottom:15px;
    margin:5px 0px;
    box-shadow: none !important;
}

body .fd-footer .content  .footer-box p{
    max-width:250px;
    font-size:15px;
    color: #F5F7F8;
    font-weight:500 !important;
}

body .fd-footer .content  .footer-box input::placeholder{
  color: #F5F7F8;
}

body .fd-footer .content  .footer-box button{
    margin-top:20px;
    border-radius:30px;
    background-color:#000;
    background-image: linear-gradient(to right bottom, #000000, #131313,
     #1f1f1f, #2c2c2c, #393939);
    padding:10px 25px;
}

body .fd-footer .content  .footer-box button:hover{
  background:#F5F7F8 !important;
}

body .fd-footer .content  .footer-box .logo{
   position: absolute;
   bottom:-40px;
   right:-30px;
   width:200px;
   height:200px; 
   background: #fff;
   border-radius:100%;
   display: flex;
   align-items: center; 
   justify-content: flex-end; 
   box-shadow:0px 3px 10px rgba(0,0,0,0.3);
}

body .fd-footer .content  .footer-box  .icon{
    width:100px;
    height:100px;
    color: #FF6D00;
    margin-right:40px;
    margin-bottom:20px;
}

body .fd-footer .content  .footer-box  .icon svg{
  font-size:100px; 
  border-bottom:6px solid #131313;
  padding-bottom:10px;
  border-radius:100%;
}

body .fd-footer .content  .footer-box  h3{
  color:#fdfdfd;
}

 /*Products **/

body .fd-products-page{
     background:#F5F7F8;
     min-height:900px;
     margin-top:40px;
}


body .fd-products-page .content{
    display: flex;
    width:100%; 
    padding:0px 20px;
}

body .fd-products-page .sidebar-area{
    min-width:300px; 
    width:300px;
    min-height:400px; 
    height: max-content; 
    background: #ffff; 
    border-radius:10px;
    box-shadow:0px 3px 10px rgba(0,0,0,0.1);
    padding:20px; 
}

body .fd-products-page .sidebar-area input,
body .fd-products-page .sidebar-area select{
    height:60px;
    border: none;
    background-color:#F5F7F8;
}



body .fd-products-page .sidebar-area h1{
   font-size:20px;
   font-weight:700 !important;
   position: relative;
   margin-bottom:30px;
}

body .fd-products-page .sidebar-area h1::after{
  position: absolute;
  left:0px;
  top:30px;
  min-width:100px;
  content:"";
  height:7px;
  border-radius:30px;
  background: #FF6D00;
}


body .fd-products-page .sidebar-area button{
  background-color:#000;
  background-image: linear-gradient(to right bottom, #000000, #131313,
   #1f1f1f, #2c2c2c, #393939);
   width:100%;
   padding:10px 25px;
   border-radius:30px;
   margin-top:20px;
}

body .fd-products-page .sidebar-area .block{
    margin:15px 0px;
}

body .fd-products-page .total{
    font-size:20px;
    margin-left:50px;
    color:#FF6D00; 
} 


body .fd-products-page  .pr-section{
  padding-left:60px;
}


body .pagination  ul{
  display: flex;
  align-items: center;  
  flex-wrap: wrap;
  flex-wrap: wrap; 
  width: max-content;
  max-width:900px; 
  padding:8px 20px;
  background: #ffff; 
  box-shadow:0px 3px 10px rgba(0,0,0,0.1);
  border-radius:30px;
  margin-top:30px;
  margin-left:10px;
}

body .pagination  ul li{
  padding:5px;
  margin-right:15px;
  width:34px;
  height:34px; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:100%;
}

body .pagination .products-container{
  padding-left:20px;
}


body .pagination  ul li.previous,
body .pagination  ul li.next{
   width:34px;
   height:34px; 
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius:100%;
   background-color:#000;
   background-image: linear-gradient(to right bottom, #000000, #131313,
    #1f1f1f, #2c2c2c, #393939);
}


body .pagination  ul li.selected{
  background:#FF6D00;
  color:#fff;

}

body .pagination  ul li.next{
margin-right:0px !important;
}

body .pagination  ul li.previous a,
body .pagination  ul li.next a{
color:#fff;
}

body .center{
  display: flex !important; 
   justify-content: center !important;
   align-items: center !important;
   width:100%;
}

/*Property details ***/

body .fd-details-page{
    min-height:900px;
    background:#F5F7F8; 
   margin-top:40px;
}

body .fd-details-page .content{
  display: flex;
  width:100%;
  padding:0px 20px;
}

body .fd-details-page .p-box{
  width: 100%; 
  min-height:400px; 
  height: max-content; 
  background: #ffff; 
  border-radius:10px;
  box-shadow:0px 3px 10px rgba(0,0,0,0.1);
  padding:20px; 
  margin-right:30px;
}

body .fd-details-page .contact-area{
  min-width:300px; 
  width:300px;
  min-height:400px; 
  height: max-content; 
  background: #ffff; 
  border-radius:10px;
  box-shadow:0px 3px 10px rgba(0,0,0,0.1);
  padding:20px; 
}

body .fd-details-page  .image-gallery-image{
    max-height:600px !important;
}

body .fd-details-page .image-gallery-content{
  background:#FF6D00;
  margin-bottom:20px; 
}


body .fd-details-page .type,
body .fd-details-page .price{
  font-size:25px; 
  display: flex;
  align-items: center;
}

body .fd-details-page  svg{
    width:24px;
    height:24px;
}

body .fd-details-page .price h4{
  font-size:25px;
  margin:0px;
  margin-left:20px;
}

body .fd-details-page h1{
  font-size:25px !important;
  margin:0px !important;
  color: #FF6D00 !important;
  padding:0px !important;
}

body .fd-details-page .location{
  font-size:18px !important;
  display: flex;
  margin:10px 0px;
  align-items: center;
}

body .fd-details-page .type h4,
body .fd-details-page .location h4{
    font-size:20px;
    margin-left:15px;
}

body .fd-details-page .description  li,
body .fd-details-page .description  ul li,
body .fd-details-page .description p{
   font-size:16px !important;
   color: #282828 !important;
}

body .fd-details-page .description h2,
body .fd-details-page .description h3,
body .fd-details-page .description h4,
body .fd-details-page .description h5,
body .fd-details-page .description h6,
body .fd-details-page .description h1{
  color: #FF6D00 !important;
  font-size:20px;
}


body .fd-details-page .video-area iframe{
  width:100% !important;
  height:650px !important;
}

 

/**Authentication  **/

body .authentication-area{
    height:100vh;
    position: relative; 
    background: #000000;
}

body .authentication-area .over-data{
   position: absolute;
   left:0px;
   top:0px;
   width:100%;
   height:100%;
    padding:20px;  
    background: rgba(0,0,0,0.5);
}
body .post-details .form-area, 
body .authentication-area .form-area{
    border-radius:10px;
    width:100%; 
    padding:20px;
    min-height:400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fdfdfd;
    max-height: max-content;
    height: max-content; 
}

body .authentication-area p{
   font-weight:500 !important;
   font-size:15px !important;
}


body .authentication-area h1{
   font-size:60px !important;
   font-weight:bold !important;
   margin:10px 0px !important;
   font-family: 'Dancing Script', cursive !important;
}

body .authentication-area  button{
   width:100%;
   margin:10px 0px;
}


body .authentication-area .mt-2,
body .authentication-area .mt-2 a{
   font-size:16px !important;
}

body .authentication-area .mt-2 a{
  margin-left:10px;
  color: #FF6D00;
}

body .authentication-area .buttons{
   width:100%;
}

body .authentication-area  button.text-light{
  padding:13px 15px !important;
  background-color:#000;
  background-image: linear-gradient(to right bottom, #000000, #131313,
   #1f1f1f, #2c2c2c, #393939);
   width:100%;
}


body .authentication-area  button.text-light svg{
   margin-right:10px;
   font-size:20px;
}


body .authentication-area .btn-account{
    padding:0px !important;
    display: flex;
    align-items: center;
    width:100%;
    border:3px solid #FF6D00;
    background:#FF6D00;
}

body .authentication-area .btn-account div{
   padding:10px !important;
}

body .authentication-area .btn-account  .text{
  background:#FF6D00;
  color:#F5F7F8;
  text-align: center;
  width:100%;
}


body .authentication-area .btn-account  .icon{
  background:#ffffff;
  color:#F5F7F8;
  min-width:70px;
  border-radius:4px;
}

body .authentication-area .btn-account  .icon svg{
  font-size:25px;
}


body .post-details .form-box, 
body .authentication-area .over-data .content .form-box{
  padding:10px; 
  border-radius:10px; 
  border:4px dashed  #DDE6ED; 
  width:100%;
  max-width:500px;
}

body .post-details .form-box{
    border-color:#FF6D00 !important;
}

body .authentication-area .cover-image img{
   height:100vh;
   object-fit: cover;
   width:100%;
}

body .post-details{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width:100%;  
}

body .authentication-area .over-data .content{
  height:100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content:space-between; 
}

body .authentication-area .over-data .content .logo-area{
  width:100%;
  padding:0px 20px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

body .authentication-area .over-data .content .logo strong{
  font-family: 'Dancing Script', cursive !important;
  font-size:75px !important;
  color: #ffffff;
 }

 body .authentication-area .over-data .content .logo  svg{
    width:100px;
    height:100px;
    border-bottom:6px solid #FF6D00;
    border-radius:10px;
 }


/*Contacts ***/

body .fd-contact-page{
  background:#F5F7F8; 
}

body .fd-contact-page .contact-header{
   width:100%;
   height:350px;
   background-color:#000;
   background-image: linear-gradient(to right bottom, #000000, #131313,
    #1f1f1f, #2c2c2c, #393939);
    position: relative;
}


body .fd-contact-page .contact-header .block-text{
     padding-top:120px;
     color: #F5F7F8;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height:100%;  
}


body .fd-contact-page  .cover-image{
   height:100%;
   width:100%;
}


body .fd-contact-page  .cover-image img{
  height:100%;
  width:100%;
  object-fit: cover;
}



body .fd-contact-page .over-box{
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
  padding-bottom:20px;
}

body .fd-contact-page .contact-header .block-text{
 padding-left:20px;
}


body .fd-contact-page .contact-header .block-text h2{
  font-size:30px;
  margin:0px;
  margin-bottom:10px;
}


body .fd-contact-page .contact-header .block-text p{
   font-weight:500 !important;
   max-width:340px;
}


body .fd-contact-page .contact-header .block-text ul{
  padding:0px;
  margin:0px;
  margin-top:50px;
}


body .fd-contact-page .contact-header  li{ 
    margin-right:20px;
    width:50px;
    height:50px;
    border-radius:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;

}

body .fd-contact-page .contact-header  li a{
    color: #FF6D00;
}


body .fd-contact-page .contact-header  li svg{
   font-size:25px;
}



body .fd-contact-page .content{
  display: flex;
  width:100%;
  justify-content: space-between;
  padding:0px 20px;
}


body .fd-contact-page  .contact-form{
    z-index:100;
    position: relative;
    margin-top: -140px;
    box-shadow:0px 3px 10px rgba(0,0,0,0.1);
    border-radius:10px;
    overflow: hidden;
    max-width:600px;
    width:100%;
    background:#ffff;
    height: max-content;
}

body .fd-contact-page  .contact-form .ct-header{
   padding:10px 20px !important;
   height:140px;
   background:#FF6D00;
   color: #DDE6ED;
   display: flex;
   align-items: center;
}

body .fd-contact-page  .contact-form .ct-header .icon{
    display:flex;
    align-items: center;
    justify-content: center;
    width:80px;
    min-width:80px;
    height:80px;
    border-radius:10px;
    background: #131313;
    color:#F5F7F8;
    margin-right:15px;
    font-size:30px;
}


body .fd-contact-page  .contact-form .ct-header svg{
    font-size:40px;
}

body .fd-contact-page  .contact-form  strong,
body .fd-contact-page  .contact-form  span{
    font-size:15px !important; 
}

body .fd-contact-page  .contact-form  .form-content{
   padding:20px;
}


body .fd-contact-page  .contact-form .d-flex{
  justify-content: space-between;
}

body .fd-contact-page  .contact-form .d-flex div{
  width:48%;
}

body .fd-contact-page  .contact-form input{
  width:100%;
}

body .fd-contact-page .contact-form button{
  width:100%;
  background-color:#000;
  background-image: linear-gradient(to right bottom, #000000, #131313,
   #1f1f1f, #2c2c2c, #393939);
   padding:10px 15px;
   border-radius:30px;
}

body .fd-contact-page .contact-text{ 
    margin-top:100px; 
    position: relative;
}

body .fd-contact-page .contact-text h1{ 
  margin:0px; 
  padding-right:40px;
  max-width:750px;
  font-weight:bolder !important;
  margin-bottom:20px; 
}

body .fd-contact-page .contact-text p{
    max-width:300px;
    margin-bottom:20px;
}


body .fd-contact-page .contact-text .step-box{
  display: flex;
}

body .fd-contact-page  .step-box .count-content{
   display: flex;
   flex-direction: column;
   align-items: center;
}


body .fd-contact-page  .step-box .count{
    width:90px;
    height:90px;
}

body .fd-contact-page  .step-box .count{
   width:40px;
   height:40px;
   border-radius:100%;
   display: flex;
   align-items: center;
   background: #FF6D00;
   justify-content: center;
   min-height:40px;
}


body .fd-contact-page  .step-box .dt{
  width:20px;
  height:20px;
  border:5px solid #fdfdfd;
  background: #131313;
  border-radius:100%;
}

body .fd-contact-page  .step-box .bar{
   min-height:100px;
   height:100%;
   width:5px;
   background: #FF6D00;
}


body .fd-contact-page  .step-box .text{
  padding-left:40px;
}



body .fd-contact-page  .step-box .text p{
    max-width:600px;
    margin-top:10px;
    font-size:16px;
    color: #393939;
}


body .fd-contact-page  .step-box .text h5{
   font-weight:bolder !important;
   font-size:18px;
}
 

body .fd-contact-page  .step-box .text span{
  margin-right:10px;
}


body .fd-contact-page .contact-map{
    width:100%;
    margin-top:50px;
}

body .fd-contact-page .contact-map iframe{
  width:100%;
  height:400px;
  margin:0px !important;
  background: #131313;
}

body .fd-contact-page  .contact-form input{
  height:60px; 
}

body .fd-contact-page  .contact-form input,
  body .fd-contact-page  .contact-form textarea{
    border: none; 
    background-color:#F5F7F8;
  }

body .image-gallery-slide,
body .image-gallery-center {
    background:#131313;
}


/**Dashboard  **/


body .fd-dashboard{
  width:100%;
  position: relative;
  background:#F5F7F8; 
  min-height:100vh;
}

body .fd-dashboard .dashboard-profile{
  width:100%;
  height:300px;
   background-color: #FF6D00;
  background-image: linear-gradient(78deg, rgba(96, 96, 96, 0.04) 0%,
  rgba(96, 96, 96, 0.04) 35%,rgba(220, 220, 220, 0.04) 35%,
  rgba(220, 220, 220, 0.04) 100%),
  linear-gradient(150deg, rgba(83, 83, 83, 0.04) 0%,
  rgba(83, 83, 83, 0.04) 71%,rgba(6, 6, 6, 0.04) 71%,
  rgba(6, 6, 6, 0.04) 100%),
  linear-gradient(311deg, rgba(203, 203, 203, 0.04) 0%,
  rgba(203, 203, 203, 0.04) 58%,rgba(3, 3, 3, 0.04) 58%,
  rgba(3, 3, 3, 0.04) 100%),linear-gradient(137deg,
  rgba(110, 110, 110, 0.04) 0%, rgba(110, 110, 110, 0.04)
  11%,rgba(226, 226, 226, 0.04) 11%,
  rgba(226, 226, 226, 0.04) 100%),
  linear-gradient(90deg, #FF6D00 ,#FF6D00); 
  position: relative;
}


body .fd-dashboard .dashboard-profile .cover-image{
   height:100%;
   width:100%;
}

body .fd-dashboard .dashboard-profile img{
    width:100%;
    height:100%;
    object-fit: cover;
}


body .fd-dashboard .dashboard-profile .over-box{
    position:absolute;
    top:0pc;
    left:0px;
    width:100%;
    height:100%; 
    background:rgba(0,0,0,0.2);
}

body .fd-dashboard .dashboard-profile .over-box .wrapper,
body .fd-dashboard .dashboard-profile .over-box .content{
  height:100%;
  width:100%;
  display: flex;  
  align-items: flex-end;
}

body .fd-dashboard .dashboard-profile .profile-data{
   width:100%;
   max-width:600px;
   padding:20px;
   border-radius:10px;
   box-shadow:0px 3px 10px rgba(0,0,0,0.1);
   display: flex;
   align-items: center;
   background: #ffffff;
   color:#FF6D00;
   margin-bottom:-90px;
}


body .fd-dashboard .dashboard-profile .profile-data .text{
    padding-left:20px;
}

body .fd-dashboard .dashboard-profile .profile-data .picture{
    border:6px solid #FF6D00;
    border-radius:100%;
    background: #FF6D00;
}

body .fd-dashboard .dashboard-profile .profile-data h5{
   font-size:20px;
}

body .fd-dashboard .dashboard-profile .profile-data span{
  font-size:16px;
  font-weight:500 !important;
}


body .fd-dashboard .dashboard-profile .top-data{
    position: absolute;
    left:0px;
    top:0px;
    width:100%; 
}

body .fd-dashboard .dashboard-profile .content{
   padding:10px 20px;
}


body .fd-dashboard .dashboard-profile .top-data .content{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

body .fd-dashboard .dashboard-profile .top-data .content .buttons{
    display: flex;
    align-items: center;
}

.dashboard-profile .top-data .content .buttons button{
    padding:10px 20px;
    margin-left:20px;
    border-radius:30px;
}

.dashboard-profile .top-data .content .buttons button svg{
  font-size:25px;
  margin-right:5px;
}

.dashboard-profile .top-data .content .buttons button.text-light{
  background-color:#000;
  background-image: linear-gradient(to right bottom, #000000, #131313,
   #1f1f1f, #2c2c2c, #393939);
}


.dashboard-profile .top-data .content .buttons button.btn-logout{
   background: #ffff;
   color: #FF6D00;
}

body .fd-dashboard .dash-table{
  width:100%;
  padding:20px;
  border-radius:10px;
  background:#ffffff;
}

body .fd-dashboard .dash-table .ml-2{
  margin-left:15px;
}


body .fd-dashboard .dash-table  button svg{
    font-size:20px;
    color: #F5F7F8;
}

body .create-form .upload-box{
   width:100%;
   padding:10px;
   border:2px dotted #FF6D00;
   min-height:100px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-transform: uppercase;
   color: #FF6D00;
   flex-direction: column;
   cursor: pointer;
}

body .create-form .upload-box svg{
   font-size:30px;
   margin-bottom:10px;
}

body .create-form  div.bg-danger{
  width:100%;
  color: #fdfdfd;
}

body .create-form .image-container{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin:10px 0px;
    max-height:350px;
    overflow-y: auto;
}

body .create-form .image-container .image-item{
     width:96px;
     height:100px;
     border-radius:6px;
     margin:5px;
     height:150px;
}

body .create-form .image-container .image-item img{
    width:100%;
    height:100%;
    height:100px;
    border-radius:6px;
}

body .create-form .image-container .image-item .d-flex{
    justify-content:space-between;
}

body .create-form .image-container .image-item .d-flex div{
   width:48%;
   border: none !important;
   cursor: pointer;
   border-radius:6px;
   margin-top:8px;
   display: flex;
   justify-content:center;
   align-items: center;
   padding:8px;
}

body .create-form .ql-editor{
   min-height:300px;
}


body .create-form .post-btn{
  background-color:#000;
  background-image: linear-gradient(to right bottom, #000000, #131313,
   #1f1f1f, #2c2c2c, #393939);
   width:100%;
   border-radius:30px;
   padding:10px 15px;
}

body .image-box{
  width:100%;
  border:6px solid #ffffff;
  border-radius:6px;
  box-shadow:0px 3px 10px rgba(0,0,0,0.1);
}

body .image-box img{
   border-radius:10px;
   height:150px;
   width:100%;
   object-fit: cover;
}

body .image-box .btn{
   width:100%;
   color:#fdfdfd;
}


/*About **/


body .fd-about-page{
  width:100%;
  position: relative;
  background:#F5F7F8; 
  min-height:100vh;
}

body .fd-about-page .about-header {
    position: relative;
    width:100%;
    height:350px;
    background-color:#000;
    background-image: linear-gradient(to right bottom, #000000, #131313,
     #1f1f1f, #2c2c2c, #393939);
     position: relative;
}

body .fd-about-page .about-header .over-box{
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
  padding-bottom:20px;
}

body .fd-about-page .about-header img{
  width:100%;
  height:100%;
  max-height:350px;
  object-fit: cover;
}

body .fd-about-page .about-header  .block-text{
 padding-left:20px;
}


body .fd-about-page .about-header  .block-text h2{
  font-size:30px;
  margin:0px;
  margin-bottom:10px;
}


body .fd-about-page .about-header  .block-text p{
   font-weight:500 !important;
   max-width:740px;
}

body .fd-about-page .about-header .block-text{
    padding-top:120px;
    color: #F5F7F8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;  
}


body .fd-about-page .about-block{
    width:100%;
    padding:60px 20px;
}

body .fd-about-page .about-block.main{
   background: #FF6D00;
   color: #F5F7F8;
}

body .fd-about-page .about-block .content{
  display: flex;
  align-items: center;
}


body .fd-about-page .about-block .content.left{
    flex-direction: row-reverse;
}

body .fd-about-page .about-block .content.left .text{
  padding-left:40px;
}


body .fd-about-page .about-block .content.right .text{
   padding-right:40px;
}


body .fd-about-page .about-block .content .image img{
    max-width:600px;
    border-radius:10px;
    object-fit: cover;
    box-shadow:0px 3px 10px rgba(0,0,0,0.1);
}


body .fd-about-page .about-block .content h3{
  font-family: 'Dancing Script', cursive !important;
  font-size:50px;
  margin-bottom:20px;
}


body .fd-about-page .about-block .content p{
    font-weight:500 !important;
}


/** Responsive  ***/

@media screen and (max-width:900px){
 /**Navbar ***/

  body .fd-navbar .fd-menu{
     display: none !important;
  }

  body .learn-section{
      flex-direction: column !important;
      padding:0px 20px;
  }

  body .learn-section .text{
    padding:0px;
  }

  body .learn-section .image-area{ 
    height: 250px !important;
  }

  body .learn-section .image-area img{
    width:100%;
    height:250px !important;
    object-fit: cover;
  }

  body .fd-navbar .responsive-menu.show{
      display: flex; 
      align-items: flex-end;
      width:90%;
      height:100vh;
      z-index:1000;
      opacity: 12;
      background-color: #FF6D00;
      background:linear-gradient(to top, 
      #131313 20%, #FF6D00 80%);
      padding:20px;
      flex-direction: column;
      position: fixed;
      text-align: right;
      top:0px;
      right:0px;
      box-shadow:0px 3px 10px rgba(0,0,0,0.3) !important;
  }

  body .fd-navbar .responsive-menu  ul{
     display: flex !important;
     flex-direction: column;
  }

  body .fd-navbar .responsive-menu li{
      margin:20px 0px;
  } 

  body .fd-navbar .responsive-menu  li a{
    font-weight:700 !important;
    color:#ffff !important;
  }

  body .fd-navbar .responsive-menu  button{
      padding:10px 15px !important;
      border-radius:30px !important;
      min-width:300px !important;
      margin-bottom:20px; 
  } 

  body .responsive-menu a button.btn-border{
      border-color: #ffff !important;
      color:#ffff !important;
  }
  body .fd-navbar .responsive-menu  button {
    color:#131313 !important;
  }

  body .fd-navbar .responsive-menu  button.btn-border:hover{
     color: #DDE6ED !important;
  }

  
  body .fd-navbar .toggle-menu svg{
    font-size:40px; 
  }

  body .fd-navbar .responsive-menu  .toggle-menu svg{
    color: #ffff;
  }

  body .fd-navbar .responsive-menu .toggle-menu:hover,
  body .fd-navbar .responsive-menu a:hover,
  body .fd-navbar .responsive-menu .toggle-menu:hover svg{
      color:#DDE6ED !important; 
  }

  body .fd-navbar .toggle-menu{
      display: block !important;
      cursor: pointer; 
      transition: all 1s ease-in-out !important; 
  }


  body .fd-navbar .toggle-menu:hover{
     color: #FF6D00 !important;
  }


  /**Header */

  body .fd-header .text h1{
     font-size:40px !important; 
     line-height:55px;
     text-align: center;
  }

  body .fd-header .ct{
      display: block !important;
      justify-content: unset !important;
  }


  body .fd-header ,
  body .fd-header  img{
      height:100% !important;
      min-height:115vh; 
  }


  body .fd-header .content{
     flex-direction: column;
     justify-content: unset; 
  }

  
  body .fd-header .content .text{ 
      margin-top:100px;
      border-top:2px solid #FF6D00;
  }
  
  body .fd-header .content p{
    display: none !important;
  }

  
  body .fd-header .content .result-text{
     display: flex;
     align-items: center;
     flex-direction: column;
  }

  
  body .fd-header form{
       flex-direction: column;
  }

  body .fd-header br{
      display: none !important;
  }

  body .fd-products-page .sidebar-area,
  body .fd-header form .block,
  body .fd-header form button{
      width:100% !important;
      min-width:100%;
  }

  body .fd-products-page  .products-container{
      padding:0px !important;
  }

  body .fd-products-page   .total{
     margin:0px !important;
  }

  body .fd-products-page  .sidebar-area{
    margin-bottom:20px !important;
  }

  body .fd-details-page .title h1{
    font-size:20px !important;
  }
  
  body .fd-details-page .price,
  body .fd-details-page .location,
  body .fd-details-page .location h4,
  body .fd-details-page .price h4,
  body .fd-details-page h4,
  body .fd-details-page  h5{
      font-size:18px !important;
  }

  body .fd-header .ct h2{
      font-size:20px;
      margin:0px;
      margin-right:20px;
  }

  body .fd-header .result-text  .block{
      display: flex !important;
      width:100%;
      margin:0px !important;
      text-align: center; 
      padding:10px 0px; 
      justify-content: center;
      align-items: center;
      border-bottom:2px dotted #F5F7F8;
  }

  /**Most visited */

  body .watermark h1{
      font-size:100px !important;
  }

  body .text-block-area{
     display: flex;
     align-content: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
  }

  body .learn-section  h1,
  body .learn-section span,
  body .text-block-area h2{
     font-size:40px !important;
  }

  body .fd-explore {
      margin-top:0px !important;
  }

  body .fd-explore  .text-block-area h2{
      margin-top:0px !important;
  }

  body .fd-visited {
      margin-bottom:0px !important;
      padding-bottom:0px !important;
  }

  body .fd-visited  .content{
    flex-direction: column !important;
  }

  body .fd-visited .block{
      padding:0px !important;
  }

  body .home-box{
    position: relative; 
  }

  body .fd-visited .home-box .box{
    width:100% !important;
    min-width:100% !important;
     margin-bottom:20px !important; 
  }


  body .fd-explore .watermark{
      top:70px !important;
  }

  body  .home-box .box .over h3{
    font-size:30px !important; 
  }

  body  .home-box .box .over .d-flex.f{
       flex-direction: column;
       align-items: flex-start;
  }

  body  .home-box .box.lg{
       max-height:400px !important;
       height:400px !important;
  }

  
  body  .home-box .box .over p{
     margin-bottom:10px !important;
  }

  /**Products **/

  body .products-container .pr-card{
    min-width:100% !important;
    min-width:100% !important;
    margin:20px 0px !important;
  }

  body .fd-products-page .products-container{
     padding-left:0px !important;
  }
  /*Footer ****/

 body .fd-footer .content{
     flex-direction: column;
 }

 body .fd-footer  .footer-box{
   min-width:100% !important;
   width:100% !important;
 }

 body .fd-footer  .space{
    flex-direction: column;
 }

 body .fd-footer  .logo{
    right:-70px !important;
    bottom:-70px !important;
 }

 body .fd-footer input{
   max-width:190px !important;
   font-size:16px !important;
 }

 body .fd-footer  .logo ,
 body .fd-footer  .logo .icon,
 body .fd-footer  .logo  svg{
  font-size:60px !important;
 }

 body .fd-footer  li{
    border-bottom:1px solid #9c9c9c;
    padding-bottom:10px;
    transition:all 1s ease-in-out !important;
 }

 body .fd-footer  li:hover{
    border-color: #FF6D00 !important;
 }

 body .fd-footer  li:hover a{
    color:#FF6D00 !important;
 }

 body .fd-details-page .content,
 body .fd-products-page .content{
     flex-direction: column !important;
     justify-content: unset !important;
 }
 
 
body .fd-testimonials .card-test,
body .fd-testimonials .card-test .desc{
    height: auto !important;
    text-align: left !important;
} 

body .authentication-area .over-data .content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

body .authentication-area .over-data .content  .logo strong{
   font-size:70px !important;
}

body .authentication-area .over-data .content  .logo strong{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


body .fd-contact-page .content {
   flex-direction: column;
}

body .fd-contact-page  .contact-text{
    padding:0px;
    margin-top:30px;
}

body .fd-contact-page  .contact-form{
    margin-top:20px;
}

body .fd-contact-page  .contact-form .ct-header{
    height: auto !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

body .fd-contact-page  .contact-form .d-flex{
  flex-direction: column;
}

body .fd-contact-page  .contact-form  div{
    width:100% !important;
    min-width:100%;
}

body .fd-contact-page  .contact-form .ct-header p{
   margin-top:10px;
}


body .fd-details-page .video-area{ 
  width:100%;
  background: #000;
}

body .fd-details-page .video-area iframe{
   height:300px !important;
   background: #000;
}

body .fd-dashboard .profile-data{
    flex-direction: column !important;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top:90px !important;
}

body .fd-dashboard .logo-area span,
body .fd-dashboard button span{
  display: none !important;
}


body .fd-dashboard .text{
  margin-top:10px;
}

body .fd-dashboard  .dash-table button{
   width:100% !important;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}



table, thead, tbody, th, td, tr { 
  display: block; 
}






/* Hide table headers (but not display: none;, for accessibility) */
 
tr { border: 1px solid #ccc; }

 th {
  display:none !important;
 }

 tr button{
    margin:10px 0px !important;
 }


 body .fd-about-page .about-block .content{
  flex-direction: column !important;
 }

 body .fd-about-page .about-block .content .text{
  padding:0px !important;
  margin-bottom:40px;
 }

 body .fd-about-page .about-block .content img{
    max-width:100%;
    width:100%;
    border-radius:0px;
 }

 body .fd-about-page .about-header,
 body .fd-about-page .about-header img{
  max-height:100% !important;
  height:100% !important;
  min-height:400px;
 }
 
 
}


@media screen and (max-width:360px){

  body .fd-header ,
  body .fd-header  img{
      height:100% !important;
      min-height:130vh; 
  }

  body .authentication-area .over-data .content  button,
  body .authentication-area .over-data .content  button span{
       font-size:15px !important;
   }
}

body .pd-1{
   padding:0px 10px;
}


body .adds-banner{
  width:100%; 
  margin:20px 0px;  
}


body .adds-banner img{
    width:100%; 
    height:100%;
    max-height:300px;
}

body .map-page{
    height:100vh;
    width:100%;
    background: #9c9c9c; 
}

body .map-filter-area{
    width:100%;
    padding:10px 20px;
    height:200px;
    background:#ffff;
    border-bottom:1px solid #e6e6e6;
    padding-top:120px;
}

body .ml-2{
  margin-left:20px;
}

body  .map-content{
    display: flex;
    width:100%;
    background:#ffff;
    height:calc(100vh - 200px);
}

body .map-filter-area select,
body .map-filter-area input{
  border: none;
  background-color:#F5F7F8;
  padding:15px 10px;
}

body .map-filter-area select{
  min-width:170px;
}

body  .map-content .products{
   min-width:800px;
   max-width:800px;
   height:calc(100vh - 200px);
   overflow-y: scroll;
   max-height:calc(100vh - 200px);
   background-color: #ffffff;
   padding-bottom:20px;
}

body  .map-content .products .pr-card{
  width:47%;
  min-width:370px;
}

body .align-center{
   align-items: center;
}

body  .map-content iframe{
  width:100% !important;
  height:100% !important;
}

body .gmap_canvas, 
body .mapouter, 
body .map-box{
     width:100%;
     height:100%;
     background-color:#ffff;
     overflow: hidden;
     border-bottom:1px solid #DDE6ED;
}


body .map-page .products .total{
  font-size:20px;
  margin-left:30px; 
  color:#FF6D00; 
} 


body .map-page .wrapper{
  max-width:100% !important;
}

body .icon-coin{
    width:55px;
    height:55px;
    border-radius:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#FF6D00;
    min-width:55px !important;
    margin-right:10px;
}

body .icon-coin svg{
  width:35px;
  height:35px;
  color:#ffff;
  margin:0px !important;
}

/**Learn more abour ads ***/

body .advirtisement-page{
  min-height:60vh;
  background-color:#F5F7F8;
}



/*** **/

body .post-details .form-area{
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start; 
}

body .post-details .form-box p{
    font-weight:450 !important; 
}

body .post-details .form-box ol{
  padding:0px;
}

body .post-details .form-box h3{
  font-size:45px;
  font-weight:700 !important;
  line-height:60px;
  text-align: left;
  margin:10px 0px;
}

body .post-details .form-box li{
    list-style-type:circle !important;
    font-size: 15px;
    margin:5px 0px;
}

body .post-details .form-box a{
  width:100%;
}

.line{
   border-top:1px solid #9c9c9c;
}

body .post-details .form-box  button{
  background-color:#000;
  background-image: linear-gradient(to right bottom, #000000, #131313, #1f1f1f, #2c2c2c, #393939);
  padding:10px 15px;
  width:100%;
  border-radius:30px;
  margin-top:10px;
  transition:all 1s ease-in-out; 
  width:100%;
  text-align: center;
  color:#ffff;
}